*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(238, 236, 236);
    /* border-radius: 20px; */
    box-shadow: 0px 2px 8px 6px rgba(0,0,0,0.63);
-webkit-box-shadow: 0px 2px 8px 6px rgba(0,0,0,0.63);
-moz-box-shadow: 0px 2px 8px 6px rgba(0,0,0,0.63);
}

.contenedor-img-hero{
    padding: 10px;
}

#img-hero{
    width: 100%;
    border-radius: 20px;
}

footer{
    background-color: rgb(59, 57, 57);
    color: rgb(237, 237, 237);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.img-consigna{
    max-width: 100%;
}

@media(max-width: 991px){
    .home{
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.603),
            rgba(0, 0, 0, 0.613)
        )
        ,url("../assets/Fig-01-Cómo-convertirse-en-un-desarrollador-web.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.63);
-webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.63);
-moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.63);
        color: white;

    }

    #hero-titulo-boton{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #boton-hero{
        background-color:rgb(0, 0, 0);
        /* color: rgb(255, 255, 255); */
        box-shadow: 1px 2px 28px 9px rgba(255,255,255,0.63);
-webkit-box-shadow: 1px 2px 28px 9px rgba(255,255,255,0.63);
-moz-box-shadow: 1px 2px 28px 9px rgba(255,255,255,0.63);
    }
}